.box-login{
    width:  700px;
    height: 600px;
    border: 1px solid black;
    display: block;
    margin-left: 30%;
    margin-top: 15%;
    background-color: cyan;
    color:yellowgreen; 

}


input  {
    margin-left: 100px;
    margin-top: 3%;
    width: 60%;
}

button {
    margin-left: 100px;
    margin-top: 3%;
    width: 100px;
    height: 40px;
    border: none;
    background-color: blue;
}

#forgot-password{
    padding-left: 400px;
}